@import "mixins/base-mixins";
@import "mixins/media-mixins";
@import "sprites/png-sprite"; 

.head {
	&__wrap {
		position: relative;
	}
	
	&__top {
		background-color: #390b46;
		height: 120px;
		width: 100%;
	}

	&__logo{
		float: left;
		margin-left: 20px;
	}

	&__logo h4{
		color: #FFF;
		font-size: 30px;
		line-height: 110px;
		padding-left: 150px;
	}

	&__back {
		background-image: url(../images/header_back.jpg);
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
		background-position: 50% 0;
		height: 100vh;
	}

	&__m-wrap h1{
		color: #390a45;
	    font-size: 75px;
	    position: relative;
	    bottom: 590px;
		right: -270px;
    	font-size: 83px;
	    z-index: 100;
	    font-weight: 300;
	}

	&__m-wrap span{
	    bottom: -27px;
    	right: 244px;
	    display: block;
	    font-size: 120px;
	    position: relative;
	    font-weight: lighter;
	}

	&__m-wrap h2{
		color: #390a45; 
		font-size: 20px;
		letter-spacing: 9px;
		position: relative;
	    bottom: 590px;
    	right: -262px;
	    z-index: 100;
	    font-weight: 400;
	}

	&__button {
		position: relative;
		bottom: 295px;
		right: -105px;
		
	}

	&__m-wrap a{
		color: #390a45; 
		font-size: 20px;
		position: absolute;
		border: 2px solid #390a45;
	    bottom: 160px;
	    height: 94px;
	    right: 410px;
	    width: 25%;
	    z-index: 100;
	    font-weight: 400;
	    text-align: center;
	    line-height: 94px;
	    min-width: 300px;
	}

	&__m-wrap img {
	    bottom: 159px;
	    display: block;
	    position: absolute;
	    right: 363px;
	    width: 95px;
	    z-index: 1000;
	}


} // head end

.nav {
	position: relative;
	
	&__list {
		float: right;
		color: #FFF;
		margin-right: 91px;
	}

	&__item {
		display: inline-block;
		line-height: 82px;
		margin: 0 20px 0 0;
	}

	&__item--active a{
		border-bottom: 1px solid #fff;
		padding-bottom: 6px;
	}


	&__icon {
		display: block;
		position: relative;
		top: 27px;
		left: 5px;
	}


	&__icon-menu1 {
		@include sprite($s-menu1)
	}

	&__icon-menu2 {
		@include sprite($s-menu2)
		left: 3px;
	}

	&__icon-menu3 {
		@include sprite($s-menu3)
		left: 15px;
	}

	&__icon-menu4 {
		@include sprite($s-menu4)
		left: 18px;
	}

	&__icon-menu5 {
		@include sprite($s-menu5)
	}

	&__icon-menu6 {
		@include sprite($s-menu6)
		left: 15px;
	}

	&__button {
		position: absolute;
		z-index: 100;
		right: 0;
		padding: 27px;
		top: -66px;
		display: none;
	}

	&__button:nth-of-type(1) span::after{
		content: '';
		display: block;
		width: 40px;
		height: 2px;
		margin-top: 10px;
		background-color: #FFF;
	}

	&__button:nth-of-type(2) span::after{
		content: '';
		display: block;
		width: 40px;
		height: 2px;
		margin-top: 10px;
		background-color: #FFF;
	}

	&__button:nth-of-type(3) span::after{
		content: '';
		display: block;
		width: 40px;
		height: 2px;
		margin-top: 10px;
		background-color: #FFF;
	}

}

@include max_1500 {
 	.head {
 		&__m-wrap h1 {
		    bottom: 590px;
		    right: -149px;
		}

		&__m-wrap span {
		    bottom: -27px;
    		right: 244px;
		}

		&__m-wrap h2 {
		    bottom: 590px;
    		right: -141px;
		}

		&__button {
		    bottom: 295px;
		    right: 0;
		}
 	}

}

@include max_1200 {
	.head {
		
		 &__m-wrap h1{
		 	font-size: 55px;
		 	bottom: 514px;
    		right: -180px;
		 }

		  &__m-wrap span{
		 	font-size: 100px;
		 	bottom: -26px;
		 	right: 142px;
		 }

		  &__m-wrap h2{
		 	font-size: 16px;
		 	letter-spacing: 5px;
		 	right: -183px;
		 	bottom: 514px;
		 }

		 &__button {
		    bottom: 215px;
		    right: -186px;
		}

		 &__m-wrap a {
		    bottom: 200px;
		    height: 60px;
		    line-height: 60px;
		    right: 410px;
		    width: 250px;
		    font-size: 16px;
		    min-width: 0;
		}

		&__m-wrap img {
		    bottom: 200px;
		    right: 380px;
		    width: 60px;
		}


	}

}


@include max_980 {
	.nav {
		
		
		&__list {
			float: none;
			margin: 0 auto;
			position: relative;
			display: block;
			background-color: #390B46;
			width: 100%;
			height: 450px;
			z-index: 10000;
		}

		&__item {
			display: block;
			margin: 0 auto;
			padding: 10px 0 10px 0;
			text-align: center;
			line-height: 20px;
		}

		&__icon {
			display: block;
			position: relative;
			top: 20px;
			left: -75px;
			margin: 0 auto;
		}

		&__button {
			display: block;
		}
	}

	.head {


		&__logo{
			float: none;
			margin-left: 0;
			padding: 38px 0 15px;
		}

		&__logo h4{
			text-align: center;
			line-height: 0;
			padding-left: 0;
		}

		&__back {
			height: 750px;
		}

		&__m-wrap h1 {
		 	font-size: 45px;
		 	text-align: center;
		 	right: 0;
		 	left: 0;
		 	bottom: 625px;
		 }

		&__m-wrap span{
		 	font-size: 90px;
		 	bottom: -15px;
		 	text-align: center;
		 	right: 0;
		 	left: 0;
		 }

		&__m-wrap h2{
		 	font-size: 15px;
		 	letter-spacing: 4px;
		 	text-align: center;
		 	right: 0;
		 	left: 0;
		 	bottom: 610px;
		 }

		&__button {
		    bottom: 260px;
		    left: 0;
		}

		&__m-wrap a {
		    bottom: 200px;
		    height: 50px;
		    line-height: 50px;
		    margin: 0 auto;
		    width: 230px;
		    font-size: 15px;
		    min-width: 0;
		    right: 0;
		    left: 0;
		}

		&__m-wrap img {
		    bottom: 200px;
		    margin: 0 auto;
		    width: 50px;
		    right: -229px;
		    left: 0;
		}

	} // head end
	
	.section.head {
		height: 750px;
	}

}

@include max_800 {
	.head {

		&__m-wrap h1 {
		    bottom: 605px;
		}

		&__m-wrap span {
		    bottom: -20px;
		}

		&__m-wrap h2 {
		    bottom: 588px;
		}

		&__button {
		    bottom: 240px;
		    left: 0;
		}
	}
}



@include max_600 {
	.head {

		 &__m-wrap h1{
		 	font-size: 35px;
		 	bottom: 590px;
		 }

		  &__m-wrap span{
		 	font-size: 80px;
		 	bottom: -12px;
		 }

		  &__m-wrap h2{
		 	font-size: 14px;
		 	letter-spacing: 3px;
		 	bottom: 576px;
		 }

		 &__button {
		    bottom: 220px;
		    left: 0;
		}


	} // head end
}

@include max_480 {
	.head {

		 &__m-wrap h1{
		 	font-size: 30px;
		 	bottom: 590px;
		 }

		  &__m-wrap span{
		 	font-size: 70px;
		 	bottom: -8px;
		 }

		  &__m-wrap h2{
		 	font-size: 13px;
		 	letter-spacing: 0;
		 	bottom: 580px;
		 }

		 &__button {
		    bottom: 255px;
		    left: 0;
		}


	} // head end
}


@include max_320 {
	.head {

		 &__m-wrap h1{
		 	font-size: 30px;
		 	bottom: 675px;

		 }

		  &__m-wrap span{
		 	font-size: 70px;
		 	bottom: -10px; 
		 }

		  &__m-wrap h2{
		 	font-size: 13px;
		 	letter-spacing: 0;
		 	bottom: 660px;
		 }

		 &__button {
		    bottom: 360px;
		    left: 0;
		}


	} // head end
}