@import "mixins/base-mixins";
@import "mixins/media-mixins";
@import "sprites/png-sprite"; 

.asans_slider {
	
	&__m-wrap img{
		text-align: center;
		width: 90px;
		display: block;
		margin: 195px auto 0;
	}
	
	&__m-wrap h3{
		text-align: center;
		padding-top: 25px;
		font-weight: 400;
	}

	&__m-wrap p{
		text-align: center;
		padding-top: 45px;
	}

	&__item {
		margin-top: 100px;
	}

} 

.slide {
	position: relative;
}

.slide img {
	width: auto;
	margin: 0;
	padding: 0;
}

.slide p{
	position: absolute;
	width: 100%;
	display: block;
	height: 235px;
	background-color: rgba(57, 11, 70, 0.5);
	top: 0;
	cursor: pointer;	
}

.slide:hover p{
	opacity: 0;
	-webkit-transition: all .4s ease;
	   -moz-transition: all .4s ease;
	    -ms-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}

.slide b,
.slide span {
	display: block;
	text-align: center;
	color: #FFF;
	font-size: 18px;
}

.slide b {
	font-size: 22px;
	padding-top: 60px;
}

.slide span {
	padding: 0;
}

@include max_1500 {
    .asans_slider {
        
        &__item h4{
            font-size: 19px;
        }

        &__m-wrap img{
            width: 85px;
            margin: 20px auto 0;
        }

    }

    .slide img {
		width: auto;
		margin: 0;
		padding: 0;
	}

}

@include max_1200 {
 	.asans_slider {
 		
 		&__item h4{
 			font-size: 18px;
 		}

 		&__m-wrap img{
			width: 80px;
			margin: 40px auto 0;
		}
 	}

 	.slide img {
		width: auto;
		margin: 0;
		padding: 0;
	}

}

@include max_980 {
  .asans_slider {
 		
 		&__item h4{
 			font-size: 17px;
 		}

 		&__m-wrap img{
			width: 70px;
			margin: 40px auto 0;
		}
 	}

 	.slide img {
		width: auto;
		margin: 0;
		padding: 0;
	}
  
}

@include max_800 {
    .asans_slider {
      display: none;
    }
}