@import "mixins/base-mixins";
@import "mixins/media-mixins";
@import "sprites/png-sprite"; 

.footer {
	background-image: url(../../images/footer_back.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: 50% 0;
	height: 100vh;
	
	&__m-wrap h4 {
		text-align: center;
		font-size: 100px;
		font-weight: 400;
		color: #390B46;
		margin-top: 100px;
	}

	&__address {
		margin: 60px 0 0 100px;
		font-size: 18px;
		color: #390B46;
	}

	&__address span{
		display: block;
		padding: 5px;
	}


	&__form {
		display: block;
		float: right;
		margin: 50px 100px 0 0;
	}

	&__form input{
		display: block;
		margin: 10px auto;
		height: 70px;
		width: 560px;
		background-color: rgba(255, 255, 255, .5);
		border: none;
	}

	&__form input[placeholder]{
		padding: 0 0 0 10px;
		font-size: 14px;
	}

	&__form textarea{
		display: block;
		margin: 10px auto;
		height: 140px;
		width: 560px;
		background-color: rgba(255, 255, 255, .5);
		border: none;
	}

	&__form textarea[placeholder]{
		padding: 10px;
		font-size: 14px;
	}

	&__button {
		position: relative;
	}

	&__form button{
		display: block;
		margin: 0;
		height: 70px;
		width: 524px;
		background-color: rgba(255, 255, 255, .5);
		border: none;
		font-size: 25px;
		font-weight: bold;
	}

	&__form button:hover{
		color: #fff; 
		background-color: rgba(57, 11, 70, .5);
		-webkit-transition: all .5s ease;
		   -moz-transition: all .5s ease;
		    -ms-transition: all .5s ease;
		     -o-transition: all .5s ease;
		        transition: all .5s ease;
	   
	}

	&__form img{
		position: absolute;
		width: 70px;
		right: 0;
	}
}
.footer__icons span{
	float: left;
	margin:  40px 10px 0 10px;
	cursor: pointer;
}

.footer__icons{
	float: left;
	margin:  0;
}


.twitter {
	display: inline-block;
	@include sprite($s-footer-soc1);
}

.youtube {
	display: inline-block;
	@include sprite($s-footer-soc2);
}

.skype {
	display: inline-block;
	@include sprite($s-footer-soc3);
}

.instagramm {
	display: inline-block;
	@include sprite($s-footer-soc4);
}

.facebook {
	display: inline-block;
	@include sprite($s-footer-soc5);
}

.bobo {
	display: inline-block;
	@include sprite($s-footer-soc6);
}

.petr {
	display: inline-block;
	@include sprite($s-footer-soc7);
}


#hidden-box {
	display: none;
}

@include max_1300 {
	.footer {
		&__form {
		    display: block;
			float: right;
		    margin: -10px 100px 0 0;
		}
	}

}


@include max_1200 {
	.footer {
		&__m-wrap h4 {
		    font-size: 70px;
		    margin-top: 65px;
		}

		&__address {
		    font-size: 18px;
		    margin: 30px auto 50px;
		    text-align: center;
		}

		&__icons {
		    margin: -30px auto 0;
		    max-width: 420px;
		    text-align: center;
		    float: none;
		}

		&__form {
		    display: block;
		    float: none;
		    margin: 120px auto;
		}

		&__form button {
		    font-size: 22px;
		    height: 70px;
		    margin: 0 auto;
		    width: 560px;
		}

		&__form img {
		    left: 0;
		    margin: 0 auto;
		    padding-left: 0;
		    padding-right: 0;
		    position: absolute;
		    right: -558px;
		    width: 70px;
		}


	}
}

@include max_980 {
	.footer {
		&__m-wrap h4 {
		    font-size: 50px;
		    margin-top: 65px;
		}

		&__address {
		    font-size: 17px;
		    margin: 30px auto 50px;
		    text-align: center;
		}

		&__icons {
		    margin: -30px auto 0;
		    max-width: 420px;
		    text-align: center;
		    float: none;
		}

		&__form {
		    display: block;
		    float: none;
		    margin: 120px auto;
		}

		&__form input {
		    margin: 10px auto;
		    width: 450px;
		}

		&__form textarea {
		    margin: 10px auto;
		    width: 450px;
		}

		&__form button {
		    font-size: 20px;
		    height: 70px;
		    margin: 0 auto;
		    width: 450px;
		}

		&__form img {
		    left: 0;
		    margin: 0 auto;
		    padding-left: 0;
		    padding-right: 0;
		    position: absolute;
		    right: -453px;
		    width: 70px;
		}


	}
}

@include max_600 {
	.footer {
		&__m-wrap h4 {
		    font-size: 40px;
		    margin-top: 65px;
		}

		&__address {
		    font-size: 16px;
		    margin: 30px auto 50px;
		    text-align: center;
		}

		&__icons {
		    margin: -30px auto 0;
		    max-width: 420px;
		    text-align: center;
		    float: none;
		}

		&__form {
		    display: block;
		    float: none;
		    margin: 120px auto;
		}

		&__form input {
		    margin: 10px auto;
		    width: 400px;
		    height: 60px;
		}

		&__form textarea {
		    margin: 10px auto;
		    width: 400px;
		    height: 60px;
		}

		&__form button {
		    font-size: 16px;
		    height: 60px;
		    margin: 0 auto;
		    width: 400px;
		}

		&__form img {
		   opacity: 0;
		}


	}
}

@include max_480 {
	.footer {
		&__m-wrap h4 {
		    font-size: 30px;
		    margin-top: 50px;
		}

		&__address {
		    font-size: 16px;
		    margin: 30px auto 50px;
		    text-align: center;
		}

		&__icons {
		    margin: -30px auto 0;
		    max-width: 400px;
		    text-align: center;
		    float: none;
		}

		&__form {
		    display: block;
		    float: none;
		    margin: 120px auto;
		}

		&__form input {
		    margin: 10px auto;
		    width: 95%;
		    height: 60px;
		}

		&__form textarea {
		    margin: 10px auto;
		    width: 95%;
		    height: 60px;
		}

		&__form button {
		    font-size: 16px;
		    height: 60px;
		    margin: 0 auto;
		    width: 95%;
		}

		&__form img {
		   opacity: 0;
		}
	}
	.footer__icons {
	    margin: 16px auto 0;
	    text-align: center;
	    float: none;
	}

	.footer__icons span{
		margin: 5px 8px;
	}
}


@include max_320 {
	.form {
		margin: 0 0 -10px;
	}

	.section .wrap .m-wrap {
	    margin: -18px auto 0;
	}
}