@import "mixins/base-mixins";
@import "mixins/media-mixins";
@import "sprites/png-sprite"; 

.gallery {
	
	&__m-wrap img{
		text-align: center;
		width: 90px;
		display: block;
		margin: 140px auto 0;
	}
	
	&__m-wrap h3{
		text-align: center;
		padding-top: 25px;
		font-weight: 400;
	}

	&__m-wrap p{
		text-align: center;
		padding: 10px 10px 0 10px;
	}

	&__item {
		display: flex;
		-webkit-justify-content: space-around;
		        justify-content: space-around;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		margin-top: 20px;
	}

	&__list {
		display: flex;
		-webkit-justify-content: space-around;
		        justify-content: space-around;
	}

    &__list a{
       margin: 0 5px;
    }

	&__list2 {
		display: flex;
		-webkit-justify-content: space-around;
		        justify-content: space-around;
		-webkit-align-items: flex-end;
		        align-items: flex-end;
		margin-top: -130px;
	}

    &__list2 a{
       margin: 0 5px;
    }

	&__item img{
		padding: 0;
		margin: 0;
		width: auto;
	} 

}

@include max_1500 {
    .gallery {
        
        &__item h4{
            font-size: 19px;
        }

        &__m-wrap img{
            width: 85px;
            margin: 20px auto 0;
        }

        &__item img{
            padding: 0;
            margin: 0;
            width: auto;
        } 

    }

}

@include max_1200 {
    .gallery {
        height: 900px;

        &__item {
            margin-top: 50px;
        }

        &__list2 {
            margin-top: -100px;
        }
        
        &__item h4{
            font-size: 18px;
        }

        &__m-wrap img{
            width: 80px;
            margin: 40px auto 0;
        }

        &__item img{
            padding: 0;
            margin: 0;
            width: auto;
        } 
    }

}

@include max_980 {
  .gallery {
        height: 750px;
        
        &__list2 {
            margin-top: -70px;
        }
        
        &__item h4{
            font-size: 17px;
        }

        &__m-wrap img{
            width: 70px;
            margin: 40px auto 0;
        }

        &__item img{
            padding: 0;
            margin: 0;
            width: auto;
        } 
    }
  
}

@include max_700 {
 .gallery {
        height: 2710px;
        
        &__list {
            -webkit-flex-direction: column;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-align-items: center;
                    align-items: center;
            margin-top: 20px;
        }

        &__list a{
           margin: 20px 5px 0;
        }

        &__list2 {
            -webkit-flex-direction: column;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-align-items: center;
                    align-items: center;
            margin-top: 20px;
        }

        &__list2 a{
           margin: 20px 5px 0;
        }
     
    }
  
}

@include max_600 {
 .gallery {
        
        &__item h4{
            font-size: 16px;
        }

        &__m-wrap img{
            width: 60px;
            margin: 40px auto 0;
        }

        &__item img{
            padding: 0;
            margin: 0;
            width: auto;
        } 
    }
  
}

@include max_480 {
 .gallery {
        

        &__m-wrap img{
            width: 50px;
            margin: 40px auto 0;
        }

        &__item img{
            padding: 0;
            margin: 0;
            width: auto;
        } 
    }
  
}


/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
}

.fancybox-skin {
    position: relative;
    background: #f9f9f9;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
       -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url('../../images/fancybox/fancybox_sprite.png');
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url('../../images/fancybox/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
    background-image: url('../../images/fancybox/close.png');
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url('../../images/fancybox/blank.gif'); /* helps IE */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 8040;
}

.fancybox-prev {
    left: 0;
}

.fancybox-next {
    right: 0;
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden;
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px;
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px;
}

.fancybox-nav:hover span {
    visibility: visible;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url('../../images/fancybox/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
}

