@import "mixins/base-mixins";
@import "mixins/media-mixins";
@import "sprites/png-sprite"; 

.offer {
	
	&__m-wrap img{
		text-align: center;
		width: 90px;
		display: block;
		margin: 140px auto 0;
	}
	
	&__m-wrap h3{
		text-align: center;
		padding-top: 25px;
		font-weight: 400;
	}

	&__m-wrap p{
		text-align: center;
		padding-top: 45px;
	}

	&__content {
		display: flex;
		-webkit-justify-content: space-around;
		        justify-content: space-around;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		-webkit-align-items: baseline;
		        align-items: baseline;
		
		    
	}

	&__item {
		max-width: 330px;
		min-width: 300px;
		margin: 40px 0 0 0;
		padding: 10px;
	}

	&__item h4{
		font-size: 20px;
		font-weight: 400;
	}

	&__item .offer1{
		display: block;
		@include sprite($s-offer1);
		margin: 0 auto 8px;
	}

	&__item .offer2{
		display: block;
		@include sprite($s-offer2);
		margin: 0 auto 8px;
	}

	&__item .offer3{
		display: block;
		@include sprite($s-offer3);
		margin: 0 auto 8px;
	}

	&__item .offer4{
		display: block;
		@include sprite($s-offer4);
		margin: 0 auto 8px;
	}

}

@include max_1500 {
 	.offer {
 		
 		&__item h4{
 			font-size: 19px;
 		}

 		&__m-wrap img{
			width: 85px;
			margin: 20px auto 0;
		}
 	}

}


@include max_1200 {
 	.offer {
 		
 		&__item h4{
 			font-size: 18px;
 		}

 		&__m-wrap img{
			width: 80px;
			margin: 40px auto 0;
		}
 	}

}

@include max_980 {
  .offer {
 		height: 800px;
 		
 		&__item h4{
 			font-size: 17px;
 		}

 		&__m-wrap img{
			width: 70px;
			margin: 40px auto 0;
		}
 	}
  
}

@include max_700 {
	.offer {
	    height: 1260px;
	    
	    &__content {
	    	-webkit-flex-direction: column;
	    	    -ms-flex-direction: column;
	    	        flex-direction: column;
	       	-webkit-align-items: center;
	       	        align-items: center;
	    }
	}
}

@include max_600 {
 .offer {
 		
 		&__item h4{
 			font-size: 16px;
 		}

 		&__m-wrap img{
			width: 60px;
			margin: 40px auto 0;
		}
 	}
  
}

@include max_480 {
 .offer {
 		

 		&__m-wrap img{
			width: 50px;
			margin: 40px auto 0;
		}
 	}
  
}

