@import "mixins/base-mixins";
@import "mixins/media-mixins";
@import "sprites/png-sprite"; 

.online {
	background-image: url(../../images/online_back.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: center;
	     -o-background-size: center;
	        background-size: center;
	background-position: 50% 0;
	height: 100vh;
	z-index: 100;
	
	&__m-wrap h4{
	    bottom: 460px;
	    color: #390a45;
	    font-size: 75px;
	    font-weight: 400;
	    left: 102px;
	    position: absolute;
	    z-index: 100;

	}

	&__m-wrap span{
	   display: block;
	  	font-size: 120px; 
		left: 0;
		position: absolute;
		bottom: 80px;
	}

	&__button {
		bottom: -530px;
    	left: 102px;
    	position: relative;
	}

	&__m-wrap a{
		border: 2px solid #390a45;
	    color: #390a45;
	    font-size: 20px;
	    font-weight: 400;
	    height: 94px;
	    line-height: 94px;
	    min-width: 300px;
	    position: absolute;
	    width: 400px;
	    z-index: 100;
	    text-align: center;
	}

	&__m-wrap img{
	    display: block;
	    left: 351px;
	    position: absolute;
	    width: 95px;
	    z-index: 1000;
	}
}

@include max_1200 {

	.online {

		&__m-wrap h4{
	    bottom: 460px;
	    font-size: 65px;
	    left: 102px;
		}

		&__m-wrap span{
		  	font-size: 110px; 
			left: 0;
			bottom: 50px;
		}

		&__button {
			bottom: -530px;
	    	left: 102px;
		}

		&__m-wrap a{
		    font-size: 19px;
		    height: 90px;
		    line-height: 90px;
		    min-width: 0;
		    width: 350px;
		}

		&__m-wrap img{
		    left: 305px;
		    width: 90px;
		}	 

	}

}


@include max_980 {

	.online {

		&__m-wrap h4{
	    bottom: 460px;
	    font-size: 45px;
	    left: 0;
	    right: 0;
	    text-align: center;
		}

		&__m-wrap span{
		  	font-size: 90px; 
			left: 0;
			right: 0;
			bottom: 42px;
			text-align: center;
		}

		&__button {
			bottom: -530px;
	    	left: 0;
	    	right: 0;
	    	margin: 0 auto;
		}

		&__m-wrap a{
		    font-size: 19px;
		    height: 80px;
		    line-height: 80px;
		    min-width: 0;
		    width: 320px;
		    margin: 0 auto;
		    left: 0;
		    right: 0;
		}

		&__m-wrap img{
		    left: 0;
		    width: 80px;
		    right: -317px;
		    margin: 0 auto;
		}	 

	}

}

@include max_600 {

	.online {

		&__m-wrap h4{
	    	font-size: 35px;
		}

		&__m-wrap span{
		  	font-size: 80px;
		  	bottom: 38px; 
		}


		&__m-wrap a{
		    font-size: 17px;
		    height: 60px;
		    line-height: 60px;
		    width: 250px;
		}

		&__m-wrap img{
		    width: 60px;
		    right: -251px;
		}	 

	}

}

@include max_480 {

	.online {

		&__m-wrap h4{
	    	font-size: 25px;
		}

		&__m-wrap span{
		  	font-size: 50px;
		  	bottom: 30px; 
		}


		&__m-wrap a{
		    font-size: 16px;
		    height: 40px;
		    line-height: 40px;
		    width: 200px;
		}

		&__m-wrap img{
		    width: 40px;
		    right: -200px;
		}	 

	}

}