@import "mixins/base-mixins";
@import "mixins/media-mixins";
@import "sprites/png-sprite"; 

.online {
	background-image: url(../../images/online_back.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: center;
	     -o-background-size: center;
	        background-size: center;
	background-position: 50% 0;
	height: 100vh;
	z-index: 100;
	
	&__m-wrap h4{
	    bottom: -160px;
	    color: #390a45;
	    font-size: 75px;
	    font-weight: 400;
	    left: -251px;
	    position: relative;
	    z-index: 100;

	}

	&__m-wrap span{
	   display: block;
	  	font-size: 120px; 
		left: -219px;
		position: relative;
		bottom: -9px;
	}

	&__button {
		bottom: -312px;
    	left: 102px;
    	position: relative;
	}

	&__m-wrap a{
		border: 2px solid #390a45;
	    color: #390a45;
	    font-size: 20px;
	    font-weight: 400;
	    height: 94px;
	    line-height: 94px;
	    min-width: 300px;
	    position: absolute;
	    width: 400px;
	    z-index: 100;
	    text-align: center;
	}

	&__m-wrap img{
	    display: block;
	    left: 352px;
	    position: absolute;
	    width: 95px;
	    z-index: 1000;
	}
}

@include max_1200 {

	.online {
		height: 800px;
		
		&__m-wrap h4{
		    bottom: -130px;
		    font-size: 55px;
    		left: -134px;
		}

		&__m-wrap span{
		  	font-size: 100px; 
			left: -147px;
			bottom: -10px;
		}

		&__button {
			bottom: -220px;
	    	left: 102px;
		}


		&__m-wrap a{
		    font-size: 19px;
		    height: 90px;
		    line-height: 90px;
		    min-width: 0;
		    width: 350px;
		}

		&__m-wrap img{
		    left: 305px;
		    width: 90px;
		}	 

	}

}


@include max_980 {

	.online {
		height: 600px;
		
		&__m-wrap h4{
	    bottom: -85px;
	    font-size: 45px;
	    left: 0;
	    right: 0;
	    text-align: center;
		}

		&__m-wrap span{
		  	font-size: 90px; 
			left: 0;
			right: 0;
			bottom: -8px;
			text-align: center;
		}

		&__button {
			bottom: -155px;
	    	left: 0;
	    	right: 0;
	    	margin: 0 auto;
		}


		&__m-wrap a{
		    font-size: 19px;
		    height: 80px;
		    line-height: 80px;
		    min-width: 0;
		    width: 320px;
		    margin: 0 auto;
		    left: 0;
		    right: 0;
		}

		&__m-wrap img{
		    left: 0;
		    width: 80px;
		    right: -317px;
		    margin: 0 auto;
		}	 

	}

}

@include max_800 {
	.online {

		&__m-wrap span {
			bottom: -4px;
		    font-size: 70px;
		}

		&__m-wrap h4 {
		    bottom: -120px;
		    font-size: 35px;
		}

		&__button {
		    bottom: -200px;
		}

		&__m-wrap a {
		    font-size: 18px;
		    height: 70px;
		    line-height: 70px;
		    width: 266px;
		}

		&__m-wrap img {
		    right: -266px;
		    width: 70px;
		}	
    
	}
}

@include max_600 {

	.online {
		height: 600px;
		
		&__m-wrap h4{
	    	font-size: 35px;
	    	bottom: -120px;
		}

		&__m-wrap span{
		  	font-size: 80px;
		  	bottom: -6px; 
		}

		&__button {
		    bottom: -200px;
		}


		&__m-wrap a{
		    font-size: 17px;
		    height: 60px;
		    line-height: 60px;
		    width: 250px;
		}

		&__m-wrap img{
		    width: 60px;
		    right: -251px;
		}	 

	}

}

@include max_480 {

	.online {
		height: 600px;
		
		&__m-wrap h4{
	    	font-size: 25px;
	    	bottom: -260px;
		}

		&__m-wrap span{
		  	font-size: 50px;
		  	bottom: 0; 
		}

		&__button {
		    bottom: -335px;
		}


		&__m-wrap a{
		    font-size: 16px;
		    height: 40px;
		    line-height: 40px;
		    width: 200px;
		}

		&__m-wrap img{
		    width: 40px;
		    right: -200px;
		}	 

	}

}

@include max_320 {

	.online {
		height: 400px;
		
		&__m-wrap h4{
	    	bottom: -230px;
		}

		&__m-wrap span{
	    	bottom: 0;
		}



		&__button {
		    bottom: -300px;
		} 

	}

}