@import "mixins/base-mixins";
@import "mixins/media-mixins";
@import "sprites/png-sprite"; 

.online {
	background-image: url(../../images/online_back.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: center;
	     -o-background-size: center;
	        background-size: center;
	background-position: 50% 0;
	height: 100vh;
	z-index: 100;
}