@import "mixins/base-mixins";
@import "mixins/media-mixins";
@import "sprites/png-sprite"; 

.price {
	
	&__m-wrap img{
		text-align: center;
		width: 90px;
		display: block;
		margin: 140px auto 0;
	}
	
	&__m-wrap h3{
		text-align: center;
		padding-top: 25px;
		font-weight: 400;
	}

	&__list {
		display: flex;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		-webkit-justify-content: space-around;
		        justify-content: space-around;
		/* -webkit-align-content: flex-end;
		        align-content: flex-end; */
		margin-top: 100px;
		
	}

	&__item-small {
		width: 350px;
		height: 500px;
		border: 1px solid #111;
		text-align: center;
		margin: 0 10px 10px 10px;
	}

	&__item-small img{
		margin: 60px auto 0;
		width: 79px;
		height: 68px;
	}

	&__item-small h4{
		font-size: 25px;
		font-weight: 500;
		margin: 10px 0 0;
	}

	&__item-small span{
		font-size: 25px;
		font-weight: 500;
		margin: 10px 0 0;
		color: #9A9A9A;
	}


	&__block span{
		display: block;
		background-color: #c7b0c1;
		width: 100%;
		height: 80px;
		font-size: 25px;
		font-weight: bold;
		margin: 20px 0 0;
		line-height: 80px;
		color: #fff;
	}

	&__item-small li{
		font-size: 20px;
		font-weight: 500;
		margin: 10px 0 0;
		color: #9A9A9A;
	}

	&__item-small p{
		font-weight: 500;
		margin: 20px 0 0;
		color: #9A9A9A;
	}

	&__item-big {
		width: 350px;
		height: 550px;
		border: 1px solid #111;
		text-align: center;
		margin: -50px 10px 10px 10px;
	}

	&__item-big img{
		margin: 60px auto 0;
		width: 79px;
		height: 68px;
	}

	&__item-big h4{
		font-size: 25px;
		font-weight: 500;
		margin: 10px 0 0;
	}

	&__item-big span{
		font-size: 25px;
		font-weight: 500;
		margin: 10px 0 0;
		color: #9A9A9A;
	}


	&__block span{
		display: block;
		background-color: #c7b0c1;
		width: 100%;
		height: 80px;
		font-size: 25px;
		font-weight: bold;
		margin: 20px 0 0;
		line-height: 80px;
		color: #fff;
	}

	&__item-big li{
		font-size: 20px;
		font-weight: 500;
		margin: 10px 0 0;
		color: #9A9A9A;
	}

	&__item-big p{
		font-weight: 500;
		margin: 20px 0 0;
		color: #9A9A9A;
	}

	 
}