@import "mixins/base-mixins";
@import "mixins/media-mixins";
@import "sprites/png-sprite"; 

.price {
	
	&__m-wrap img{
		text-align: center;
		width: 90px;
		display: block;
		margin: 140px auto 0;
	}
	
	&__m-wrap h3{
		text-align: center;
		padding-top: 25px;
		font-weight: 400;
	}

	&__list {
		display: flex;
		-webkit-justify-content: space-around;
		        justify-content: space-around;
		margin-top: 100px;
		
	}

	&__item-small {
		width: 350px;
		height: 500px;
		border: 1px solid #111;
		text-align: center;
		margin: 0 10px 10px 10px;
	}

	&__item-small img{
		margin: 60px auto 0;
		width: 79px;
		height: 68px;
	}

	&__item-small h4{
		font-size: 25px;
		font-weight: 500;
		margin: 10px 0 0;
	}

	&__item-small span{
		font-size: 25px;
		font-weight: 500;
		margin: 10px 0 0;
		color: #9A9A9A;
	}


	&__block span{
		display: block;
		background-color: #c7b0c1;
		width: 100%;
		height: 80px;
		font-size: 25px;
		font-weight: bold;
		margin: 20px 0 0;
		line-height: 80px;
		color: #fff;
	}

	&__item-small li{
		font-size: 20px;
		font-weight: 500;
		margin: 10px 0 0;
		color: #9A9A9A;
	}

	&__item-small p{
		font-weight: 500;
		margin: 20px 0 0;
		color: #9A9A9A;
	}

	&__item-big {
		width: 350px;
		height: 550px;
		border: 1px solid #111;
		text-align: center;
		margin: -50px 10px 10px 10px;
	}

	&__item-big img{
		margin: 60px auto 0;
		width: 79px;
		height: 68px;
	}

	&__item-big h4{
		font-size: 25px;
		font-weight: 500;
		margin: 10px 0 0;
	}

	&__item-big span{
		font-size: 25px;
		font-weight: 500;
		margin: 10px 0 0;
		color: #9A9A9A;
	}


	&__block span{
		display: block;
		background-color: #c7b0c1;
		width: 100%;
		height: 80px;
		font-size: 25px;
		font-weight: bold;
		margin: 20px 0 0;
		line-height: 80px;
		color: #fff;
	}

	&__item-big li{
		font-size: 20px;
		font-weight: 500;
		margin: 10px 0 0;
		color: #9A9A9A;
	}

	&__item-big p{
		font-weight: 500;
		margin: 20px 0 0;
		color: #9A9A9A;
	}

	 
}

@include max_1500 {
    .price {
        
        &__item h4{
            font-size: 19px;
        }

        &__m-wrap img{
            width: 85px;
            margin: 20px auto 0;
        }
 

    }

}


@include max_1200 {
 	.price {
 		
 		&__item h4{
 			font-size: 18px;
 		}

 		&__m-wrap img{
			width: 70px;
			margin: 40px auto 0;
		}

		&__item-small {
			width: 330px;
			height: 450px;
			margin: 0 10px 10px 10px;
		}

		&__item-small img{
			margin: 50px auto 0;
			width: 69px;
			height: 58px;
		}

		&__item-small h4{
			font-size: 22px;
			margin: 10px 0 0;
		}

		&__item-small span{
			font-size: 22px;
			margin: 10px 0 0;
		}


		&__block span{
			width: 100%;
			height: 80px;
			font-size: 22px;
			margin: 20px 0 0;
			line-height: 80px;
		}

		&__item-small li{
			font-size: 18px;
			margin: 10px 0 0;
		}

		&__item-small p{
			margin: 20px 0 0;
		}

		&__item-big {
			width: 330px;
			height: 500px;
			margin: -50px 10px 10px 10px;
		}

		&__item-big img{
			margin: 60px auto 0;
			width: 69px;
			height: 58px;
		}

		&__item-big h4{
			font-size: 22px;
			margin: 10px 0 0;
		}

		&__item-big span{
			font-size: 22px;
			margin: 10px 0 0;
		}


		&__block span{
			width: 100%;
			height: 80px;
			font-size: 22px;
			margin: 20px 0 0;
			line-height: 80px;
		}

		&__item-big li{
			font-size: 18px;
			margin: 10px 0 0;
		}

		&__item-big p{
			margin: 20px 0 0;
		}

 	}

}

@include max_980 {
  .price {
 		
 		&__item h4{
 			font-size: 17px;
 		}

 		&__m-wrap img{
			width: 70px;
			margin: 40px auto 0;
		}

		&__item-small {
			width: 300px;
			height: 420px;
			margin: 0 10px 10px 10px;
		}

		&__item-small img{
			margin: 40px auto 0;
			width: 69px;
			height: 58px;
		}

		&__item-small h4{
			font-size: 22px;
			margin: 10px 0 0;
		}

		&__item-small span{
			font-size: 22px;
			margin: 10px 0 0;
		}


		&__block span{
			width: 100%;
			height: 70px;
			font-size: 22px;
			margin: 20px 0 0;
			line-height: 70px;
		}

		&__item-small li{
			font-size: 16px;
			margin: 10px 0 0;
		}

		&__item-small p{
			margin: 20px 0 0;
		}

		&__item-big {
			width: 300px;
			height: 470px;
			margin: -50px 10px 10px 10px;
		}

		&__item-big img{
			margin: 40px auto 0;
			width: 69px;
			height: 58px;
		}

		&__item-big h4{
			font-size: 22px;
			margin: 10px 0 0;
		}

		&__item-big span{
			font-size: 22px;
			margin: 10px 0 0;
		}


		&__block span{
			width: 100%;
			height: 70px;
			font-size: 22px;
			margin: 20px 0 0;
			line-height: 70px;
		}

		&__item-big li{
			font-size: 16px;
			margin: 10px 0 0;
		}

		&__item-big p{
			margin: 20px 0 0;
		}

 	}
  
}

@include max_800 {
  .price {
  		height: 1570px;
  		
 		&__list {
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-align-items: center;
			        align-items: center;
			margin-top: 50px;
			
		}

		&__item-small {
			width: 300px;
			height: 420px;
			margin: 0 5px 20px 5px;
		}

		&__item-small img{
			margin: 40px auto 0;
			width: 69px;
			height: 58px;
		}

		&__item-small h4{
			font-size: 22px;
			margin: 10px 0 0;
		}

		&__item-small span{
			font-size: 22px;
			margin: 10px 0 0;
		}


		&__block span{
			width: 100%;
			height: 70px;
			font-size: 22px;
			margin: 20px 0 0;
			line-height: 70px;
		}

		&__item-small li{
			font-size: 16px;
			margin: 10px 0 0;
		}

		&__item-small p{
			margin: 20px 0 0;
		}

		&__item-big {
			width: 300px;
			height: 420px;
			margin: 0 10px 20px 10px;
		}

		&__item-big img{
			margin: 40px auto 0;
			width: 69px;
			height: 58px;
		}

		&__item-big h4{
			font-size: 22px;
			margin: 10px 0 0;
		}

		&__item-big span{
			font-size: 22px;
			margin: 10px 0 0;
		}


		&__block span{
			width: 100%;
			height: 70px;
			font-size: 22px;
			margin: 20px 0 0;
			line-height: 70px;
		}

		&__item-big li{
			font-size: 16px;
			margin: 10px 0 0;
		}

		&__item-big p{
			margin: 20px 0 0;
		}

 	}
  
}

@include max_600 {
 .price {
 		
 		&__item h4{
 			font-size: 16px;
 		}

 		&__m-wrap img{
			width: 60px;
			margin: 40px auto 0;
		}
 	}
  
}

@include max_480 {
 .price {
 		height: 1520px;

 		&__m-wrap img{
			width: 50px;
			margin: 40px auto 0;
		}

		&__item-small {
			width: 270px;
			height: 420px;
			margin: 0 5px 20px 5px;
		}

		&__item-small img{
			margin: 40px auto 0;
			width: 59px;
			height: 48px;
		}

		&__item-big {
			width: 270px;
			height: 420px;
			margin: 0 10px 20px 10px;
		}

		&__item-big img{
			margin: 40px auto 0;
			width: 59px;
			height: 48px;
		}

 	}
  
}