@import "mixins/base-mixins";
@import "mixins/media-mixins";
@import "sprites/png-sprite"; 

.team {
	
	&__m-wrap img{
		text-align: center;
		width: 90px;
		display: block;
		margin: 140px auto 0;
	}
	
	&__m-wrap h3{
		text-align: center;
		padding-top: 25px;
		font-weight: 400;
	}

	&__m-wrap p{
		text-align: center;
		padding-top: 45px;
	}

	&__content {
		display: flex;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		margin-top: 30px;
	}

	&__item-double {
		display: flex;
		-webkit-justify-content: space-around;
		        justify-content: space-around;
		-webkit-align-items: center;
		        align-items: center;
	}

	&__item {
		max-width: 330px;
		min-width: 300px;
		padding: 10px;
		text-align: left;
		position: relative;
	}

	&__item img{
		margin: 0 auto;
		width: 235px;
	}

	&__item h4{
		text-align: left;
		font-size: 20px;
		padding: 10px 38px 0;
		font-weight: 400;
	}

	&__item span{
		text-align: left;
		padding: 20px 38px 10px 38px;
		display: block;
		font-size: 12px;
		text-decoration: underline;
	}

	&__item p{
		text-align: left;
		padding-top: 10px;
		padding: 10px 38px 0;
	}

}

.team__social {
	position: absolute;
	display: block;
	bottom: 225px;
	left: 75px;
	opacity: 0;
}

.f {
	display: inline-block;
	@include sprite($s-team-f);
}

.tw {
	display: inline-block;
	@include sprite($s-team-tw);
}

.p {
	display: inline-block;
	@include sprite($s-team-p);
}

.you {
	display: inline-block;
	@include sprite($s-team-you);
}

.team__item:hover .team__social {
	opacity: 1;
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
}

@include max_1500 {
 	.team {
 		
 		&__item h4{
 			font-size: 19px;
 		}

 		&__m-wrap img{
			width: 85px;
			margin: 20px auto 0;
		}

		&__item img{
			margin: 0 auto;
			width: 235px;
		}
 	}

}


@include max_1200 {
 	.team {
 		 height: 1410px;

 		&__m-wrap img{
			width: 80px;
			margin: 40px auto 0;
		}

		&__item img{
			margin: 0 auto;
			width: 235px;
		}

		&__item-double {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap; 
		}

		&__item {
			margin: 50px 0;
			padding: 10px;
		}

		&__item h4{
			font-size: 19px;
		}

 	}

}

@include max_700 {
 	.team {
		height: 2330px;
		
 		&__content {
 			-webkit-flex-direction: column;
		     -ms-flex-direction: column;
		         flex-direction: column;
 		}
 	
		&__item-double {
			-webkit-flex-direction: column;
			     -ms-flex-direction: column;
			         flex-direction: column; 
		}

		&__item {
			margin: 20px 0;
		}

 	}

}

@include max_980 {
  .team {
 			

 		&__m-wrap img{
			width: 70px;
			margin: 40px auto 0;
		}

		&__item img{
			margin: 0 auto;
			width: 235px;
		}

		&__item h4{
			font-size: 18px;
		}
 	}
  
}

@include max_600 {
 .team {
 		
 		&__m-wrap img{
			width: 60px;
			margin: 40px auto 0;
		}

		&__item img{
			margin: 0 auto;
			width: 235px;
		}

		&__item h4{
			font-size: 16px;
		}
 	}
  
}

@include max_480 {
 .team {
 		
 		&__m-wrap img{
			width: 50px;
			margin: 40px auto 0;
		}

		&__item img{
			margin: 0 auto;
			width: 235px;
		}

		&__item h4{
			font-size: 15px;
		}
 	}
  
}