@import "mixins/base-mixins";
@import "mixins/media-mixins";
@import "sprites/png-sprite"; 

.time {
	
	&__m-wrap img{
		text-align: center;
		width: 90px;
		display: block;
		margin: 140px auto 0;
	}
	
	&__m-wrap h3{
		text-align: center;
		padding-top: 25px;
		font-weight: 400;
	}

	&__m-wrap p{
		text-align: center;
		padding: 45px 10px 0 10px;
	}

	&__content {
		display: flex;
		-webkit-justify-content: space-around;
		        justify-content: space-around;
		-webkit-align-items: center;
		        align-items: center;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		position: relative;
		margin-top: 50px;
	}

	&__content img {
		width: 250px;
		margin: 0 auto;
		max-width: 230px;
	}

	&__hover {
		position: relative;
		display: block;
		
	}

	&__hover span{
		display: block;
		position: absolute;
		width: 100%;
		height: 410px;
		background-color: rgba(57,11,70,1);
		text-align: center;
		color: #FFF;
		opacity: 0;
		z-index: 100;
	} 


	&__hover b{
		display: block;
		padding-top: 20px;
		text-align: center;
		font-size: 16px;
	} 

	&__hover p{
		display: block;
		text-align: center;
		font-size: 12px;
		padding: 20px 10px;
		line-height: 2;
		font-weight: bold;
	} 

	&__hover:hover span {
		opacity: 1;
		-webkit-transition: all 1s ease;
		   -moz-transition: all 1s ease;
		    -ms-transition: all 1s ease;
		     -o-transition: all 1s ease;
		        transition: all 1s ease;
		
	}

	&__hover1 {
		background-image: url(../../images/time/time_hover1.png);
		background-repeat: no-repeat;
	}

	&__hover2 {
		background-image: url(../../images/time/time_hover2.png);
		background-repeat: no-repeat;
	}

	&__hover3 {
		background-image: url(../../images/time/time_hover3.png);
		background-repeat: no-repeat;
	}

	&__hover4 {
		background-image: url(../../images/time/time_hover4.png);
		background-repeat: no-repeat;
	}

	&__hover5 {
		background-image: url(../../images/time/time_hover5.png);
		background-repeat: no-repeat;
	}


}

@include max_1500 {
 	.time {
 		
 		&__item h4{
 			font-size: 19px;
 		}

 		&__m-wrap img{
			width: 85px;
			margin: 20px auto 0;
		}

		&__content img {
			width: 250px;
			margin: 0 auto;
			max-width: 250px;
		}
 	}

}


@include max_1200 {
 	.time {
 		height: 1170px;
 		
 		&__item h4{
 			font-size: 18px;
 		}

 		&__m-wrap img{
			width: 80px;
			margin: 40px auto 0;
		}

		&__content img {
			width: 250px;
			margin: 0 auto;
			max-width: 250px;
		}
 	}

}

@include max_980 {
    .time {
 		
 		&__item h4{
 			font-size: 17px;
 		}

 		&__m-wrap img{
			width: 70px;
			margin: 40px auto 0;
		}

		&__content img {
			width: 250px;
			margin: 0 auto;
		}
 	}
  
}

@include max_800 {
    .time {
		height: 2400px;
		
 		&__content {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		}
 		
 	}
  
}

@include max_600 {
    .time {
 		
 		&__item h4{
 			font-size: 16px;
 		}

 		&__m-wrap img{
			width: 60px;
			margin: 40px auto 0;
		}

		&__content img {
			width: 250px;
			margin: 0 auto;
		}
 	}
  
}

@include max_480 {
    .time {
 		

 		&__m-wrap img{
			width: 50px;
			margin: 40px auto 0;
		}

		&__content img {
			width: 250px;
			margin: 0 auto;
		}
 	}
  
}

