	<section class="section asans_slider">
	 	<div class="wrap asans_slider__wrap">
	 		<div class="m-wrap asans_slider__m-wrap">
				<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/chakra.png alt="chakra" class="lazy" height="90" width="90">
		 		<h3>АСАНЫ ЙОГИ ДЛЯ НАЧИНАЮЩИХ</h3>
		 		<p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. <br>
						Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.
				</p>
				<div class="asans_slider__item">
					
				</div>
	 
	 		</div>
	 	</div>
	</section>
