	<section class="section asans_slider">
	 	<div class="wrap asans_slider__wrap">
	 		<div class="m-wrap asans_slider__m-wrap">
				<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/chakra.png alt="chakra" class="lazy" height="90" width="90">
		 		<h3>АСАНЫ ЙОГИ ДЛЯ НАЧИНАЮЩИХ</h3>
		 		<p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. <br>
						Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.
				</p>
				<div class="asans_slider__item">
					<div class="slider2">
					  <div class="slide"><img src="../images/asans_slider/1.jpg"><span><b>01</b><p>SAMASTHITIH</p></span></div>
					  <div class="slide"><img src="../images/asans_slider/2.jpg"><span><b>02</b><p>EKAM</p></span></div>
					  <div class="slide"><img src="../images/asans_slider/3.jpg"><span><b>03</b><p>DVE</p></span></div>
					  <div class="slide"><img src="../images/asans_slider/4.jpg"><span><b>04</b><p>TRINI</p></span></div>
					  <div class="slide"><img src="../images/asans_slider/5.jpg"><span><b>05</b><p>CATVARI</p></span></div>
					  <div class="slide"><img src="../images/asans_slider/6.jpg"><span><b>06</b><p>PANCA</p></span></div>
					  <div class="slide"><img src="../images/asans_slider/7.jpg"><span><b>07</b><p>SAT</p></span></div>
					  <div class="slide"><img src="../images/asans_slider/8.jpg"><span><b>08</b><p>EKAM</p></span></div>
					  <div class="slide"><img src="../images/asans_slider/9.jpg"><span><b>09</b><p>PADANGUSTHASANA</p></span></div>
					  <div class="slide"><img src="../images/asans_slider/10.jpg"><span><b>10</b><p>UTTHITA TRIKONASANA</p></span></div>
					  <div class="slide"><img src="../images/asans_slider/11.jpg"><span><b>11</b><p>UTTHITA PARSVA KONASANA</p></span></div>
					  <div class="slide"><img src="../images/asans_slider/12.jpg"><span><b>12</b><p>PRASARITA PADOTTANASANA</p></span></div>
					  <div class="slide"><img src="../images/asans_slider/13.jpg"><span><b>13</b><p>PARSVOTTANASANA</p></span></div>
					  <div class="slide"><img src="../images/asans_slider/14.jpg"><span><b>14</b><p>EKA PADA PADANGUSTHASANA</p></span></div>
					</div>
				</div>
	 
	 		</div>
	 	</div>
	</section>
