	<section class="section asans_slider" id="asans_slider">
	 	<div class="wrap asans_slider__wrap">
	 		<div class="m-wrap asans_slider__m-wrap">
				<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/chakra.png alt="chakra" class="lazy" height="90" width="90">
		 		<h3>АСАНЫ ЙОГИ ДЛЯ НАЧИНАЮЩИХ</h3>
		 		<p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. <br>
						Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.
				</p>
				<div class="asans_slider__item">
					<div class="slider2">
					  <div class="slide"><img src="../images/asans_slider/1.jpg" alt="asans-slider"><p><b>01</b><span>SAMASTHITIH</span></p></div>
					  <div class="slide"><img src="../images/asans_slider/2.jpg" alt="asans-slider"><p><b>02</b><span>EKAM</span></p></div>
					  <div class="slide"><img src="../images/asans_slider/3.jpg" alt="asans-slider"><p><b>03</b><span>DVE</span></p></div>
					  <div class="slide"><img src="../images/asans_slider/4.jpg" alt="asans-slider"><p><b>04</b><span>TRINI</span></p></div>
					  <div class="slide"><img src="../images/asans_slider/5.jpg" alt="asans-slider"><p><b>05</b><span>CATVARI</span></p></div>
					  <div class="slide"><img src="../images/asans_slider/6.jpg" alt="asans-slider"><p><b>06</b><span>PANCA</span></p></div>
					  <div class="slide"><img src="../images/asans_slider/7.jpg" alt="asans-slider"><p><b>07</b><span>SAT</span></p></div>
					  <div class="slide"><img src="../images/asans_slider/8.jpg" alt="asans-slider"><p><b>08</b><span>EKAM</span></p></div>
					  <div class="slide"><img src="../images/asans_slider/9.jpg" alt="asans-slider"><p><b>09</b><span>PADANGUSTHASANA</span></p></div>
					  <div class="slide"><img src="../images/asans_slider/10.jpg" alt="asans-slider"><p><b>10</b><span>UTTHITA TRIKONASANA</span></p></div>
					  <div class="slide"><img src="../images/asans_slider/11.jpg" alt="asans-slider"><p><b>11</b><span>UTTHITA PARSVA KONASANA</span></p></div>
					  <div class="slide"><img src="../images/asans_slider/12.jpg" alt="asans-slider"><p><b>12</b><span>PRASARITA PADOTTANASANA</span></p></div>
					  <div class="slide"><img src="../images/asans_slider/13.jpg" alt="asans-slider"><p><b>13</b><span>PARSVOTTANASANA</span></p></div>
					  <div class="slide"><img src="../images/asans_slider/14.jpg" alt="asans-slider"><p><b>14</b><span>EKA PADA PADANGUSTHASANA</span></p></div>
					</div>
				</div>
	 		</div>
	 	</div>
	</section>
