	<section class="section gallery">
	 	<div class="wrap gallery__wrap">
	 		<div class="m-wrap gallery__m-wrap">
				<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/chakra.png alt="chakra">
		 		<h3>НАША ГАЛЛЕРЕЯ</h3>
		 		<p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
						Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.
				</p>
				<div class="gallery__item">
					
				</div>
	 		</div>
	 	</div>
	</section>
