	<section class="section gallery">
	 	<div class="wrap gallery__wrap">
	 		<div class="m-wrap gallery__m-wrap">
				<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/chakra.png alt="chakra" class="lazy" height="90" width="90">
		 		<h3>НАША ГАЛЛЕРЕЯ</h3>
		 		<p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. <br>
						Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.
				</p>
				<div class="gallery__item">
					<div class="gallery__list">
						<a class="single_image" href="../images/gallery/gall1.jpg"><img src="../images/gallery/gallery1.jpg" alt=""/></a>
						<a class="single_image" href="../images/gallery/gall2.jpg"><img src="../images/gallery/gallery2.jpg" alt=""/></a>
						<a class="single_image" href="../images/gallery/gall3.jpg"><img src="../images/gallery/gallery3.jpg" alt=""/></a>
						<a class="single_image" href="../images/gallery/gall4.jpg"><img src="../images/gallery/gallery4.jpg" alt=""/></a>
						<a class="single_image" href="../images/gallery/gall5.jpg"><img src="../images/gallery/gallery5.jpg" alt=""/></a>
					</div>
					<div class="gallery__list2">
						<a class="single_image" href="../images/gallery/gall6.jpg"><img src="../images/gallery/gallery6.jpg" alt=""/></a>
						<a class="single_image" href="../images/gallery/gall7.jpg"><img src="../images/gallery/gallery7.jpg" alt=""/></a>
						<a class="single_image" href="../images/gallery/gall8.jpg"><img src="../images/gallery/gallery8.jpg" alt=""/></a>
						<a class="single_image" href="../images/gallery/gall9.jpg"><img src="../images/gallery/gallery9.jpg" alt=""/></a>
						<a class="single_image" href="../images/gallery/gall10.jpg"><img src="../images/gallery/gallery10.jpg" alt=""/></a>
					</div>
				</div>
	 		</div>
	 	</div>
	</section>
