	<header>
		<section class="section head">
		 	<div class="wrap head__wrap">
		 		<div class="head__top">
		 			<div class="head__logo">
		 				<h4>LOGO</h4>
		 			</div>
					<nav class="nav">
						<div class="nav__button">
						    <span></span>
						    <span></span>
						    <span></span>
						</div>
						<ul class="nav__list">
							<li class="nav__item nav__item--active"><span class="nav__icon nav__icon-menu1"></span><a href="#">О НАС</a></li>
							<li class="nav__item"><span class="nav__icon nav__icon-menu2"></span><a href="#">ГРАФИК</a></li>
							<li class="nav__item"><span class="nav__icon nav__icon-menu3"></span><a href="#">ГАЛЛЕРЕЯ</a></li>
							<li class="nav__item"><span class="nav__icon nav__icon-menu4"></span><a href="#">ПРАЙСЛИСТ</a></li>
							<li class="nav__item"><span class="nav__icon nav__icon-menu5"></span><a href="#">АСАНЫ</a></li>
							<li class="nav__item"><span class="nav__icon nav__icon-menu6"></span><a href="#">КОНТАКТЫ</a></li>
						</ul>
					</nav>
		 		</div>
		 		<div class="head__back"></div>
		 		<div class="m-wrap head__m-wrap">
					<h1><span>Йога </span>источник здоровья</h1>
					<h2>ШИРОКИЙ СПЕКТОР ЙОГИ ПО ВСЕМУ МИРУ</h2>
		 			<div class="head__button">
		 				<img src="../images/button_figure.png" alt="button">
		 				<a href="#">УЗНАТЬ БОЛЬШЕ</a>
		 			</div>
		 		</div>
		 	</div>
		</section>
	</header>

