	<section class="section offer">
	 	<div class="wrap offer__wrap">
	 		<div class="m-wrap offer__m-wrap">
				<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/chakra.png alt="chakra">
	 			<h3>МЫ ПРЕДЛОГАЕМ</h3>
	 			<p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
					Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.
				</p>
				<div class="offer__content">
					<div class="offer__item">
						<span class="offer1"></span>
						<h4>РЫБНЫЙ ТЕКСТ</h4>
						<p>Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми 		правилами.
						</p>
					</div>
					<div class="offer__item">
						<span class="offer2"></span>
						<h4>РЫБНЫЙ ТЕКСТ</h4>
						<p>Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми 		правилами.
						</p>
					</div>
					<div class="offer__item">
						<span class="offer3"></span>
						<h4>РЫБНЫЙ ТЕКСТ</h4>
						<p>Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми 		правилами.
						</p>
					</div>
					<div class="offer__item">
						<span class="offer4"></span>
						<h4>РЫБНЫЙ ТЕКСТ</h4>
						<p>Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми 		правилами.
						</p>
					</div>
				</div>
	 		</div>
	 	</div>
	</section>
