	<section class="section price" id="price">
	 	<div class="wrap price__wrap">
	 		<div class="m-wrap price__m-wrap">
				<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/chakra.png alt="chakra" class="lazy" height="90" width="90">
		 		<h3>СТОИМОСТЬ КУРСА ЙОГИ</h3>
		 		<div class="price__list">
		 			<div class="price__item-small">
		 				<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/price/price_figure.png alt="price" class="lazy" height="68" width="79">
		 				<h4>БАЗОВЫЙ КУРС</h4>
		 				<span>30 ЧАСОВ</span>
		 				<div class="price__block">
		 					<span>150$</span>
		 				</div>
		 				<ul>
		 					<li>АЭРОБИКА</li>
		 					<li>ЙОГА</li>
		 					<li>РАСТЯЖКА</li>
		 				</ul>
		 				<p>Тренировка расделенна на 3 этапа <br>График не гибкий </p>
		 			</div>
					<div class="price__item-big">
		 				<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/price/price_figure.png alt="price" class="lazy" height="68" width="79">
		 				<h4>ПРЕМИУМ КУРС</h4>
		 				<span>60 ЧАСОВ</span>
		 				<div class="price__block">
		 					<span>250$</span>
		 				</div>
		 				<ul>
		 					<li>АЭРОБИКА</li>
		 					<li>ЙОГА</li>
		 					<li>РАСТЯЖКА</li>
		 				</ul>
		 				<p>Тренировка расделенна на 3 этапа <br>График не гибкий </p>
		 			</div>	
		 			<div class="price__item-small">
		 				<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/price/price_figure.png alt="price" class="lazy" height="68" width="79">
		 				<h4>ПЛАТИНОВЫЙ КУРС</h4>
		 				<span>100 ЧАСОВ</span>
		 				<div class="price__block">
		 					<span>350$</span>
		 				</div>
		 				<ul>
		 					<li>АЭРОБИКА</li>
		 					<li>ЙОГА</li>
		 					<li>РАСТЯЖКА</li>
		 				</ul>
		 				<p>Тренировка расделенна на 3 этапа <br>График не гибкий </p>
		 			</div>	
		 		</div>
	 
	 		</div>
	 	</div>
	</section>
