	<section class="section reason">
	 	<div class="wrap reason__wrap">
	 		<div class="m-wrap reason__m-wrap">
				<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/chakra.png alt="chakra" class="lazy" height="90" width="90">
		 		<h3>ПРИЧИНЫ ЗАНИМАТЬСЯ ЙОГОЙ</h3>
		 		<p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. <br>
						Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.
				</p>
				<div class="reason__content">
					<div class="reason__list">
						<div class="reason__double">
							<div class="reason__item">
								<div class="reason__img">
									<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/reason/reason1.jpg alt="reason" class="lazy" height="150" width="150">
								</div>
								<div class="reason__item-button">
									<p>Эта парадигматическая страна, <br>в которой жаренные члены <br>предложения залетают прямо <br>в рот. 
									</p>
					 				<img src="../images/button_figure.png" alt="button">
					 				<a href="#">ЗАБРАНИРОВАТЬ</a>
				 				</div>
							</div>
							<div class="reason__item">
								<div class="reason__img">
									<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/reason/reason1.jpg alt="reason" class="lazy" height="150" width="150">
								</div>
								<div class="reason__item-button">
									<p>Эта парадигматическая страна, <br>в которой жаренные члены <br>предложения залетают прямо <br>в рот. 
									</p>
					 				<img src="../images/button_figure.png" alt="button">
					 				<a href="#">ЗАБРАНИРОВАТЬ</a>
				 				</div>
							</div>
						</div>
						<div class="reason__double">
							<div class="reason__item">
								<div class="reason__img">
									<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/reason/reason2.jpg alt="reason" class="lazy" height="150" width="150">
								</div>
								<div class="reason__item-button">
									<p>Эта парадигматическая страна, <br>в которой жаренные члены <br>предложения залетают прямо <br>в рот. 
									</p>
					 				<img src="../images/button_figure.png" alt="button">
					 				<a href="#">ЗАБРАНИРОВАТЬ</a>
				 				</div>
							</div>
							<div class="reason__item">
								<div class="reason__img">
									<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/reason/reason2.jpg alt="reason" class="lazy" height="150" width="150">
								</div>
								<div class="reason__item-button">
									<p>Эта парадигматическая страна, <br>в которой жаренные члены <br>предложения залетают прямо <br>в рот. 
									</p>
					 				<img src="../images/button_figure.png" alt="button">
					 				<a href="#">ЗАБРАНИРОВАТЬ</a>
				 				</div>
							</div>
						</div>
					</div>
					<div class="reason__phone">
						<h4>ПРИСОЕДИНИТЬСЯ СЕЙЧАС!</h4>
						<span>ПОЗВОНИТЕ НАМ</span>
						<h5>ТЕЛ: 04355-256348</h5>
						<p>Oднажды одна маленькая строчка рыбного текста по имени <br>Lorem ipsum решила выйти в 		большой мир грамматики. 
						</p>
						<div class="reason__phone-button">
			 				<img src="../images/button_figure.png" alt="button">
			 				<a href="#">ЗАБРАНИРОВАТЬ</a>
		 				</div>
					</div>	
				</div>
	 		</div>
	 	</div>
	</section>
