	<section class="section subscribe">
	 	<div class="wrap subscribe__wrap">
	 		<div class="m-wrap subscribe__m-wrap">
				<div class="subscribe__list">
					<div class="subscribe__item-double">
						<div class="subscribe__item">
							<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/subscribe/subscribe1.png alt="subscribe" class="lazy" height="235" width="235">
							<span class="subscribe__icon1">1009</span>
							<p>ДОВОЛЬНЫХ <br>КЛИЕНТОВ</p>
						</div>
			 			<div class="subscribe__item">
							<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/subscribe/subscribe2.png alt="subscribe" class="lazy" height="235" width="235">
							<span class="subscribe__icon2">820</span>
							<p>ПРОРАБОТАНЫХ <br>ДНЕЙ</p>
						</div>
					</div>
					<div class="subscribe__item-double">
						<div class="subscribe__item">
							<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/subscribe/subscribe3.png alt="subscribe" class="lazy" height="235" width="235">
							<span class="subscribe__icon3">25</span>
							<p>ФИЛИАЛОВ <br>ПО РОССИИ</p>
						</div>
						<div class="subscribe__item">
							<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/subscribe/subscribe4.png alt="subscribe" class="lazy" height="235" width="235">
							<span class="subscribe__icon4">50</span>
							<p>СПЕЦИАЛИСТОВ</p>
						</div>
					</div>	
				</div>
				<div class="subscribe__form">
					<h4>ПОДПИСАТЬСЯ НА РАССЫЛКУ НОВОСТЕЙ</h4>
					<p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. <br>
						Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.
					</p>
					<div class="subscribe__input">
						<input type="text" placeholder="ВАШ EMAIL">
						<a href="#">ПОДПИСАТЬСЯ</a>
						<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/button_figure.png alt="button" class="lazy" height="80" width="80">
					</div>
				</div>
	 		</div>
	 	</div>
	</section>
