	<section class="section subscribe">
	 	<div class="wrap subscribe__wrap">
	 		<div class="m-wrap subscribe__m-wrap">
				<div class="subscribe__list">
					<div class="subscribe__item">
						<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/subscribe/subscribe1.png alt="subscribe">
						<span class="subscribe__icon1"></span>
						<p>ДОВОЛЬНЫХ <br>КЛИЕНТОВ</p>
					</div>
		 			<div class="subscribe__item">
						<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/subscribe/subscribe2.png alt="subscribe">
						<span class="subscribe__icon2"></span>
						<p>ПРОРАБОТАНЫХ <br>ДНЕЙ</p>
					</div>
					<div class="subscribe__item">
						<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/subscribe/subscribe3.png alt="subscribe">
						<span class="subscribe__icon3"></span>
						<p>ФИЛИАЛОВ <br>ПО РОССИИ</p>
					</div>
					<div class="subscribe__item">
						<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/subscribe/subscribe4.png alt="subscribe">
						<span class="subscribe__icon4"></span>
						<p>СПЕЦИАЛИСТОВ</p>
					</div>
				</div>
				<div class="subscribe__form">
					<h4>ПОДПИСАТЬСЯ НА РАССЫЛКУ НОВОСТЕЙ</h4>
					<p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
						Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.
					</p>
					<div class="subscribe__input">
						<input type="text" placeholder="ВАШ EMAIL">
						<a href="#">ПОДПИСАТЬСЯ</a>
						<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/button_figure.png alt="button">
					</div>
				</div>
	 		</div>
	 	</div>
	</section>
