	<section class="section time">
	 	<div class="wrap time__wrap">
	 		<div class="m-wrap time__m-wrap">
				<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/chakra.png alt="chakra">
		 		<h3>НАШ ГРАФИК</h3>
		 		<p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
						Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.
				</p>
				<div class="time__content">
					<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/time/time1.jpg alt="time">
					<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/time/time2.jpg alt="time">
					<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/time/time3.jpg alt="time">
					<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/time/time4.jpg alt="time">
					<img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-original=../images/time/time5.jpg alt="time">
				</div>
	 		</div>
	 	</div>
	</section>
